<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490173185810-h6us5sp847tbsm6linvn91gu6vaoil75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490173185810-h6us5sp847tbsm6linvn91gu6vaoil75</string>
	<key>API_KEY</key>
	<string>AIzaSyDFGnsMaMMl7Mg9ItBPqXc_Or9ACDxh_PU</string>
	<key>GCM_SENDER_ID</key>
	<string>490173185810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoShared</string>
	<key>PROJECT_ID</key>
	<string>eraa-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>eraa-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490173185810:ios:d182702e5f4172fce9bdcb</string>
</dict>
</plist>